<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="user/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is dashboard page</title>
</head>
<body>
   <section>
	    <div class="container">
	       <div class="card">
	          <div class="card-body text-center my-5">
	               <img src="" style="height: 200px; width: 200px;"
						class="my_profile_pic" th:src="@{'/image/profile.png'}"
						alt="photo" />
	          </div>
	          
	          <h1 class="text-center text-secondary font-weight-light font-italic">
	                Start Adding Your Contacts on Cloud.....
	          </h1>
	          
	          <a th:href="@{/user/add_contact}" class="btn btn-primary mt-4 mb-3 btn-block text-uppercase">
	              Add New Contact
	          </a>
	       </div>
	    </div>
	    
	    <script type="text/javascript">
	       $(document).ready(()=>{
			  $(".item").removeClass("active");
			  $("#home-link").addClass("active");
		   });
	    </script>
	    
	</section>
</body>
</html>